* {
  --scrollbar-size: 10px;

  &::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  &::-webkit-scrollbar-track {
    background-color: #0000;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: #c8c8c8;

    &:hover {
      background-color: #afafaf;
    }
  }
}
