.header {
  padding-right: 24px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// theme mode
.header {
  --theme-color-header-bg: #fff;
  background-color: var(--theme-color-header-bg);
  transition: background-color var(--theme-transition-duration) var(--theme-transition-timing-function);

  &.night-mode {
    --theme-color-header-bg: #1e1f26;
  }
}
